<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="TestCase">
  <parameter name="Browser" value= "chrome" />
    <classes>
      <class name="TestCase.Test1" />
      <class name="TestCase.Test2" />
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
